
.vs/Prueba Tecnica/config/applicationhost.config
.vs/Prueba Tecnica/v16/.suo
.vs/Prueba Tecnica/v16/Server/sqlite3/db.lock
.vs/Prueba Tecnica/v16/Server/sqlite3/storage.ide
.vs/Prueba Tecnica/v16/Server/sqlite3/storage.ide-shm
.vs/Prueba Tecnica/v16/Server/sqlite3/storage.ide-wal
